@page {
    margin: 80px 40px 50px 40px;
}

body {
    font-family: DejaVu Sans, sans-serif;
    font-size: 12px;
}

.header {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    height: 60px;
}

.footer {
    position: fixed;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center;
    font-size: 10px;
    color: #666;
}

.page-break {
    page-break-after: always;
}

/* === Invoice Table === */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 8px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
    font-size: 10px;

}

th {
    background: #f2f2f2;
}

tfoot td {
    font-weight: bold;
    background: #eee;
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-footer-group;
}

/* Narrow first column (S/No) */
th:first-child,
td:first-child {
    width: 40px !important;
    /* text-align: center; */
}

.eoe {
    padding-left: 84%;
}

#dsa{
    text-align: start;
}
#hess{
    text-align: center;
}